h1 a {
    color: #fff;
}

h2, .h2 {
    font-family: 'Lobster';
}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    background-color: #35b775!important;
    color: #fff!important;
    text-align: center;
    font-family: 'Lobster';
}

a {
    color: #32b775;
    text-decoration: none;
    font-family: 'Lobster';
}

.post {
    margin-bottom: 70px;
    border: 1px solid #f3f3f3;
    padding: 20px;
}

@media only screen and (min-width : 1200px) {
.container-sm {
    padding-right: 350px;
    padding-left: 350px;
    margin-right: auto;
    margin-left: auto;
}
}


@media only screen and (max-width : 480px) {
.container-sm {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
}


.post-form textarea, .post-form input {
    width: 100%;
}
